In [1]:
import pandas as pd

In [3]:
x = pd.Series([2,3,4,5])

In [4]:
type(x)

pandas.core.series.Series

In [5]:
x

0    2
1    3
2    4
3    5
dtype: int64

In [9]:
y = pd.Series([2,3,4,5], index=['a','b','c','d'])

In [7]:
y

a    2
b    3
c    4
d    5
dtype: int64

In [10]:
y['b']

3

In [11]:
d_series = {'ab': 1, 'cd': 2, 'ef': 3}

In [12]:
pd.Series(d_series)

ab    1
cd    2
ef    3
dtype: int64

In [13]:
pd.Series(3, index=[0,1,2,3,4,5])

0    3
1    3
2    3
3    3
4    3
5    3
dtype: int64

## DataFrame

In [14]:
import numpy as np

In [15]:
dates = pd.date_range('20190412', periods = 7)

In [16]:
dates

DatetimeIndex(['2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15',
               '2019-04-16', '2019-04-17', '2019-04-18'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randint(high=7,low=2, size=(7,4)), index=dates, columns=['A','B','C','D E'])
df

            A  B  C  D E
2019-04-12  4  6  3    2
2019-04-13  5  5  2    6
2019-04-14  5  3  5    3
2019-04-15  2  3  3    5
2019-04-16  5  2  2    2
2019-04-17  5  2  3    3
2019-04-18  3  4  6    6

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
type(df['A'])

pandas.core.series.Series

In [23]:
df['D E']

2019-04-12    2
2019-04-13    6
2019-04-14    3
2019-04-15    5
2019-04-16    2
2019-04-17    3
2019-04-18    6
Freq: D, Name: D E, dtype: int32

In [24]:
df = df.rename(columns={"D E": "DE"})

In [25]:
df

            A  B  C  DE
2019-04-12  4  6  3   2
2019-04-13  5  5  2   6
2019-04-14  5  3  5   3
2019-04-15  2  3  3   5
2019-04-16  5  2  2   2
2019-04-17  5  2  3   3
2019-04-18  3  4  6   6

In [26]:
df.DE

2019-04-12    2
2019-04-13    6
2019-04-14    3
2019-04-15    5
2019-04-16    2
2019-04-17    3
2019-04-18    6
Freq: D, Name: DE, dtype: int32